@model LvnBaiKiemTraGK.Models.lvnKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>lvnKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LvnTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvnTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lvn_Trang_Thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lvn_Trang_Thai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LvnMaKH }) |
    @Html.ActionLink("Back to List", "LvnIndex")
</p>
